<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
	<title>Thiggle Classifieds</title>
	
<meta name="robots" content="noindex,nofollow">
<meta property="og:title" content="Welcome to Thiggle!">
<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body style="font-family:'Helvetica Neue',Helvetica,arial;color:#999;font-size:14px;background-color:#f5f4f3;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:40px;line-height:23px;"><style>
	body{
		font-family: 'Helvetica Neue',Helvetica,arial;
		color:#999;
		font-size:14px;
        background:#f5f4f3;
		padding-top:40px;
		line-height:23px;
	}
	.main-table tr td{
	}
	h1{
		margin:0px;
		font-family: 'Helvetica Neue',Helvetica,arial;
   		font-weight: 200;
		color:#999;
		font-size:28px;
		line-height:30px;
	}
	a{
		color:#40b6cb;
		text-decoration:none;
	}
	</style>
		<table width="620" cellpadding="0" cellspacing="0" border="0" class="main-table" style="margin-top:0;margin-bottom:10px;margin-right:auto;margin-left:auto;">
			<tbody><tr>
				<td colspan="2" style="color:#e75640;font-weight:bold;font-size:41px;text-align:center;padding-bottom:50px;">
					<a href="www.thiggle.com" style="color:#5b5ea6;text-decoration:none;font-family: 'Grand Hotel', cursive;text-align:center;font-size:48px">Thiggle</a>
					<h3 style="color:#999;font-size:24px;font-weight:200;font-family:'Helvetica Neue',Helvetica,arial;">Local Classified Ads</h3>
				</td> 
			</tr>
			<tr>
				<td colspan="2" style="padding-top:20px;padding-bottom:10px;text-align:left;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-right:50px;padding-left:50px;">
					<p style="margin-top:30px;margin-bottom:30px;margin-right:0px;margin-left:0px;">
						Welcome to Thiggle, the best way to help you find and sell things in your city through online classified ads.  As a new Thiggler, <a href="http://www.thiggle.com/posts/new"> create your first post</a>.  Or, if you've already done that, <a "color:#40b6cb;text-decoration:none;" href="http://www.thiggle.com/posts"> browse</a> some listings. 

<p style="text-align:center;"><%= link_to 'Confirm Your Account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :style => 'color:#40b6cb;text-decoration:none;' %></p> 

Again, Welcome to the Thiggle community.  You may continue with an unconfirmed email for awhile, but why wait?  We promise to only send you important emails, and you can even switch those off in your <a style="color:#40b6cb;text-decoration:none;" href="http://www.thiggle.com/dashboard/account">user preferences</a>.       
					</p>

<p style="margin-top:30px;margin-bottom:30px;margin-right:0px;margin-left:0px;">
Best,
<br>
The Thiggle Team
</p>

			</tr>
	
		</tbody></table>


</body></html>