<ul class="nav nav-tabs">
  <li>
    <%= link_to "Mailbox", mailbox_dashboard_index_path %>
  </li>
  <li><%= link_to "Selling", my_posts_dashboard_index_path %></li>
  <li class= "active"><%= link_to "Saved", saved_posts_dashboard_index_path %></li>
  <li><%= link_to "Account", account_dashboard_index_path %></li>
</ul>